<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Limpa qualquer configuração herdada de pastas acima ou do sistema -->
    <clear />
    <!-- Adiciona o repositório oficial do NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>